[v-cloak] {
  display: none;
}
body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
}
input {
  padding: 10px;
  max-width: 740px;
  font-size: 1.25em;
  font-family: sans-serif;
  border: 7px solid #b63f3f;
  box-sizing: content-box;
  width: calc(100% - 60px);
  margin: 10px 15px;
  &::-webkit-input-placeholder {
    color: #e6e6e6;
  }
  &:focus {
    outline: none;
  }
}
.header {
  background-color: #d24a4f;
  margin: 0;
}
.theme {
  font-family: monospace;
  background-color: #d24a4f;
  text-transform: uppercase;
  color: #fff;
  padding: 0 5px;
  float: right;
}
.results {
  margin: 15px auto;
  padding: 10px;
  max-width: 750px;
  width: calc(100% - 60px);
  text-align: left;
  border: 1px solid #e6e6e6;
  background-color: #fbfbfb;
  line-height: 1.5em;
  a {
    color: #000;
    display: block;
    text-decoration: none;
  }
}